<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=PgWjVQeB"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
		<link rel = "stylesheet" href = "../static/styles.css">
    
</head>

<body>

<div id="mainDiv">
    
		<div id = "con"> 
			
    	<div id ="Lhead" src = "url(../static/faceclosed.png)">
				
			</div>
			<img id = "eyes" src = "../static/faceopened.png"/>
			<img id = "closed" src = "../static/mouthclosed.png"/>
			
    	<div id="hair"></div>
		</div>

		<div id = "formDiv">
	    <form method="POST">
	        <label for="get">Enter your response</label>
	        <input name="get" id="get" type="text">
				
	        <input type="submit" class="action-button" value="Submit">
			</form>
	    <div>
	        
	        <button onclick="speakAI(0);" type='submit'>🔊 Play </button>
	    </div>
	    <p>{{aichat}}</p>
			</div>
		</div>
		<div id = "aDiv">
			<h1> Accessories</h1>
			<button id="prevButton" class="action-button" onclick="changeHair(-1)">Previous Hair</button>
	    <button id="nextButton" class="action-button" onclick="changeHair(1)">Next Hair</button>
		
		</div>
		<div id = "voiceDiv">
			<h1> Voice Choice</h1>
			<button  class="action-button"onclick="sayVoice('Australian Male');">Australian Male</button>
			<button class="action-button" onclick="sayVoice('UK English Female');">UK English Female</button>
			<button class="action-button" onclick="sayVoice('US English Female');">US English Female</button>
			<button class="action-button" onclick="sayVoice('French Male');">French Male</button>
			<button class="action-button" onclick="sayVoice('Spanish Female');">Spanish Female</button>
		
		</div>
		<div id = "demoDiv">
			<h1> Innovation Project Demo </h1>
			<button class="action-button" onclick="speakAI(1);"> How are you Feeling Today?</button>
			<button class="action-button" onclick="speakAI(2);"> Thank You Judges</button>
		
		</div>

<script>
    // Define an array of hair images
    var hairImages = [
        "https://www.freepnglogos.com/uploads/hair-png/pin-virendra-surya-hairstyles-hair-png-picsart-11.png",
        "https://tr.rbxcdn.com/aea2de42472fdf195b37ebdd4b30a159/420/420/Hat/Png",
				"/static/crown.png",
        "https://toppng.com/uploads/thumbnail/hair-png-hair-png-cb-picsart-hair-png-cb-hair-png-hair-png-for-mens-115632830726w2ealiqhm.png"
        // Add more hair images as needed
    ];

    var currentHairIndex = 0; // Initialize with the default hair image index

    // Define an array of face images
    
    
    // Function to change the hair background image
    function changeHair(direction) {
        currentHairIndex += direction;

        // Ensure the index stays within bounds
        if (currentHairIndex < 0) {
            currentHairIndex = hairImages.length - 1;
        } else if (currentHairIndex >= hairImages.length) {
            currentHairIndex = 0;
        }

        // Set the new hair background image
        var hairDiv = document.getElementById("hair");
        hairDiv.style.backgroundImage = "url(" + hairImages[currentHairIndex] + ")";
    }

    // Function to change the face background image
		var running = false;
		var open = false;
		var mouthImg = document.getElementById("closed");
		var move;
		var voice;
		function StartAnimation(){
			move = setInterval(function(){
				if(open){
					open = false;
					mouthImg.src = "../static/mouthclosed.png"
				}
				else{
					open = true;
					mouthImg.src = "../static/mouthopen.png"
				}
			}, 200)
		}
		function EndAnimation(){
			running = false;
			clearInterval(move);
			open = false;
			mouthImg.src = "../static/mouthclosed.png"
		}
		
		
		
		 var voice = "Australian Male";

        // Function to set the voice and call responsiveVoice
		function sayVoice(selectedVoice) {
				// Set the global voice variable
				console.log(selectedVoice)
				voice = selectedVoice;
		}
		if("{{aichat}}" != "None"){
			speakAI(0);
		}
    function speakAI(number) {
      var aiValue;	
			if(running == false){
				running = true;
				if(number == 1 || number == 2){
					if (number == 1){
						aiValue = "How are you Feeling Today";
					}
					else if (number == 2){
						aiValue = "Goodbye Judges have a nice day";
					}	
				}
				else{
					if ("{{aichat}}" == "None") {
							aiValue = "Hello Judges"; // Greet the judges only the first time
					} else {
							aiValue = "{{aichat}}"; // Use the contents
					// of the aichat variable
					}
			}
			
      responsiveVoice.speak(aiValue, voice, {onstart: StartAnimation, onend: EndAnimation});

        // Change face every 3 seconds
			} 
    }
	
    // Call speakAI when needed
    // document.querySelector("#mainDiv input[type='submit']").addEventListener("click", speakAI);
</script>
<script src = "/static/blink.js"> </script>
</body>
</html>
